---
layout: default
title: 三千止境 | 记录、分享和创造
---

<ul class="posts">
    {% for post in paginator.posts %}
        <li class="post">
            <div class="title">
                <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
                <p class="meta">{{ post.date | date_to_string }}</p>
            </div>

            <div class="excerpt">
                {% if post.content contains '<!-- more -->' %}
                    {{ post.content | split:'<!-- more -->' | first }}
                    <p class="more"><a href="{{ post.url }}">Read More &raquo;</a></p>
                {% else %}
                    {{ post.content }}
                {% endif %}
            </div>
        </li>
    {% endfor %}
</ul>

{% if paginator.total_pages > 1 %}
<div class="pagination-wrapper">
    <div class="pagination">
        {% if paginator.previous_page %}
            <a class="prev" title="prev" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo;prev</a>
        {% else %}
            <span class="prev" title="prev">&laquo;prev</span>
        {% endif %}

        {% if paginator.next_page %}
            <a class="next" title="next" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">next&raquo;</a>
        {% else %}
            <span class="next" title="next">next&raquo;</span>
        {% endif %}
    </div>
</div>
{% endif %}
