---
layout: default
title: 三千止境 | 记录、分享和创造
---

<ul class="posts">
    {% for post in paginator.posts %}
        <li class="post">
            <div class="title">
                <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
                <p class="meta">{{ post.date | date_to_string }}</p>
            </div>

            <div class="excerpt">
                {% if post.content contains '<!-- more -->' %}
                    {{ post.content | split:'<!-- more -->' | first }}
                    <p class="more"><a href="{{ post.url }}">Read More &raquo;</a></p>
                {% else %}
                    {{ post.content }}
                {% endif %}
            </div>
        </li>
    {% endfor %}
</ul>

{% if paginator.total_pages > 1 %}
<div class="pagination-wrapper">
    <div class="pagination">
        {% if paginator.previous_page %}
            <a class="prev" title="prev" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo;</a>
        {% else %}
            <span class="prev" title="prev">&laquo;</span>
        {% endif %}

        {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
                <em>{{ page }}</em>
            {% elsif page == 1 %}
                <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
            {% else %}
                <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
            {% endif %}
        {% endfor %}

        {% if paginator.next_page %}
            <a class="next" title="next" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a>
        {% else %}
            <span class="next" title="next">&raquo;</span>
        {% endif %}
    </div>
</div>
{% endif %}

<ul class="archive">
{% for cat in site.categories %}
    <li><a href="#{{ cat[0] }}">{{ cat[0] }}</a> ({{ cat[1].size }})</li>
{% endfor %}
</ul>
