<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/syntax.css">
    </head>

    <body>
        <div class="site">
            <div class="header">
                <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            </div>

            {{ content }}

            <div class="footer">
                <a href="https://twitter.com/Moamaoa">twitter.com/Moamaoa</a>
            </div>
        </div>
    </body>
</html>